<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Community Detection in Force directed graphs</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename = 'bootstrap.min.css')}}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    {# <link href="/Users/aditya/Downloads/bootstrap-3.3.7/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> #}

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename = 'jumbotron.css')}}" rel="stylesheet">
    <!-- <script type="text/javascript" src="http://localhost:5000/UItry.js"></script> -->
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    {# <script src="/Users/aditya/Downloads/bootstrap-3.3.7/assets/js/ie-emulation-modes-warning.js"></script> #}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <style type="text/css">
    html, body,svg {
      width:  100%;
      height: 100%;
      margin: 0px;
    }
  </style>

  <body >

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Commnity Detection using Louvain algorithm</a>
        </div>
        <!-- <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div> --><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Force Directed Graph</h1>
        <p>Check out the preset examples or you can make you own graph and detect community clusters in them. Start by adding some nodes and linking them.</p>
        <p> Blah blah Blah blah Blah blah Blah blah Blah blah Blah blah Blah blah Blah blah Blah blah Blah blah Blah blah Blah blah Blah blah Blah blah Blah blah Blah blah  </p>
        <p>Community detection blah blah</p>

      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
        <p><h4>Create graph from examples</h4></p>
          <div><a class="btn btn-primary" onclick="submit('karate','un');">Karate</a></div> <br>
          <div><a class="btn btn-primary" onclick="submit('football','un')">Football</a></div>
          
        </div>
        <div class="col-md-4">
          <p><h4>Create a graph by uploading an edgelist</h4></p>
           <form class="form-group" action="/upload" method = "POST" enctype = "multipart/form-data" >
             <input class="form-control" type = "file" name = "file" />  <br>
             <input class="btn btn-primary" type = "submit"/>  <br>
          </form>       
       </div>
        <div class="col-md-4">
        <p><h4>Manually create a graph by adding nodes and linking them</h4></p>
        <div>
        <a class="btn btn-info" onclick="clearsvg();"">Create graph</a>
        </div>    <br>
        <div id="add_buttons" style="display: none;">
            <input class="form-control" type="text" id='id-node' name="id-node" placeholder="ID"> <br>
            <input class="form-control" type="number" id='group-node' name="group-node" placeholder="Group"> <br>
            <button class="btn btn-primary" onclick="add();">Add</button> <br>           
          </div>   <br>
          <div id="link_buttons" style="display: none;">
            <input class="form-control" type="text" id='source' name="source" placeholder="Source ID"> <br>
            <input class="form-control"  type="text" id='target' name="target" placeholder="Target ID"> <br>
            <input class="form-control" type="number" id='strength' name="strength" placeholder="Strength"><br>
            <button class="btn btn-primary" onclick="addlink();">Link</button> <br>
            </div>
        </div>

        
<!--         <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div> -->
      </div>

      <hr>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static',filename='jquery.min.js' )}}"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script src="{{ url_for('static', filename = 'bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  

<script type="text/javascript">

// $(document).ready(function(){
//   var temp_form = document.getElementById("temp");
//   temp_form.style.display = "none";
// // $('#temp').data('text',"{{ text }}");
// });

function submit(pre,flag){
  if(pre == ''){
    return;
  }
  $("#text").val(pre);
  $("#flag").val(flag)
  var temp_form = document.getElementById("temp");
  temp_form.submit();
}

function detect_community(){
  console.log(JSON.stringify(nodes));
  console.log(JSON.stringify(links));
  console.log(JSON.stringify(na));
  console.log(JSON.stringify(la));
  if (flag == 0){
    $("#na").val(JSON.stringify(node1));
    $("#la").val(JSON.stringify(link1));
  } else{
    $("#na").val(JSON.stringify(node1));
    $("#la").val(JSON.stringify(link1));
  }

  
  var temp = document.getElementById("detect");
  temp.submit();
}

function download(){
  $('#nodes').val(JSON.stringify(node1));
  console.log($('#nodes').val());
  var download_form = document.getElementById("download");
  download_form.submit();
}

var detected = {{ detected }};

function clearsvg(){
  $('#add_buttons').attr('style','');
  $('#link_buttons').attr('style','');
  graph_data = [];
  na = [];
  la = [];
  node1 = [];
  link1 = [];

  svg.selectAll('g').remove();
  flag = 0;
}
</script>

<form id="detect" action="/detect" method="POST" style="display: none;">
  <input type="text" id="na" name="na">
  <input type="text" id="la" name="la">
</form>

<form id="temp" action="/preset" method="POST" style="display: none;">
  <input type="text" id="text" name="text">
  <input type="text" id="flag" name="flag">
</form>

<form  id="download" target="_blank" action="/download" method="POST" style="display: none;">
  <input type="text" id="nodes" name="nodes">
</form>

<!-- <div class="row">
  <div class="col-md-12">
  <div class="form-group">
    <input  type="text" id='id-node' name="id-node" placeholder="id">
    <input  type="number" id='group-node' name="group-node" placeholder="group">
    <button class="btn btn-primary" onclick="add();">Add</button> 
    <input  type="text" id='source' name="source" placeholder="source">
    <input  type="text" id='target' name="target" placeholder="target">
    <input  type="number" id='strength' name="strength" placeholder="strength">
    <button class="btn btn-primary" onclick="addlink();">Link</button>
    <button class="btn btn-primary" onclick="clearsvg();"">Clear</button> 
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a  onclick="submit('karate','un');">Karate</a></li>
          <li><a onclick="submit('football','un')">Football</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  </div> -->
<!-- <div>
  <div class="col-md-12">
 <form>
    <div class="form-group">
      <div class="page-header"><h3>Upload an file </h3></div>
      <input type="file" class="form-control">
    </div>
    <button class="btn btn-success">Upload File</button>
</form>
</div> 
</div> -->


<div class="row">
  <div class="col-md-4">  </div>
  <div class="col-md-5">
    <button class="btn btn-primary" onclick="detect_community();">Detect Community clusters in the graph</button>  <br>
  </div>
  <div class="col-md-3">
    <button class="btn btn-primary" id="detected" style="display: none;" onclick="download();">Download graph as edgelist</button>  <br>
  </div>
  <!-- <div class="col-md-4">  </div> -->
</div>



<div class="row">
<div class="col-md-9">
<svg width="1000" height="800" id="svg"></svg>
</div>
<div class="col-md-3">
  <div class="card" style="width: 20rem;">
    <div class="card-block">
    <h4 class="card-title" >Select a node to see its related information</h4>
    <p class="card-text" id="node_id"></p>
    <p class="card-text" id="degree_centrality"></p>
    <p class="card-text" id="betweenness_centrality"></p>
    <p class="card-text" id="clustering_coefficent"></p> 
    <!-- <a href="" id="link" class="btn btn-primary">Some url</a> -->
  </div>
  </div>
</div>
</div>


<!-- <div class="card" style="width: 20rem;">
  <img class="card-img-top" id="img" src="" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title" id="id"></h4>
    <p class="card-text" id="desc"></p>
    <a href="" id="link" class="btn btn-primary">Some url</a>
  </div>
</div><br> -->


</body>
</html>

<script src="{{ url_for('static',filename='d3.v4.min.js') }}"></script>
<script>

function getNeighbors(node) {
  return links.reduce(function (neighbors, link) {
      if (link.target.id === node.id) {
        neighbors.push(link.source.id)
      } else if (link.source.id === node.id) {
        neighbors.push(link.target.id)
      }
      return neighbors
    },
    [node.id]
  )
}


function isNeighborLink(node, link) {
  return link.target.id === node.id || link.source.id === node.id
}





function getNodeColor(node) {

  if(node.group == 0) {return 'blue'}
    else if (node.group == 1) {return 'green'}
        else if(node.group == 2){return 'red'}
          else if(node.group == 3) {return 'purple'}
          else if(node.group == 4){ return 'black'}
            else if(node.group == 5){ return 'yellow'}
              else if(node.group == 6){return 'grey'}
                else if(node.group == 7){return 'orange'}
                  else if(node.group == 8){return 'cyan'}
                    else if(node.group == 9){return 'pink'}
                      else if(node.group == 10){return 'magenta'}
                        
}
function getLinkColor(node, link) {
  return isNeighborLink(node, link) ? 'green' : '#E5E5E5'
}
function getTextColor(node, neighbors) {
  return Array.isArray(neighbors) && neighbors.indexOf(node.id) > -1 ? 'green' : 'black'
}


function selectNode(selectedNode) {

  $('#node_id').html(" ");
  $('#degree_centrality').html(" ");
  $('#betweenness_centrality').html(" ");
  $('#clustering_coefficent').html(" ");
  $('.card-title').html("Node information");
  $('#node_id').html("Node ID:-"+selectedNode['id']);
  $('#degree_centrality').html("Degree Centrality of the node:-"+graph_data[0][selectedNode['id']]);
  $('#betweenness_centrality').html("Betweenness Centrality of the node:-"+graph_data[1][selectedNode['id']]);
  $('#clustering_coefficent').html("Clustering Coefficient of the node:-"+graph_data[2][selectedNode['id']]);

  var neighbors = getNeighbors(selectedNode)
  console.log(neighbors)
  // we modify the styles to highlight selected nodes
  node.attr('fill', function (node) { return getNodeColor(node) })
  //text.attr('fill', function (node) { return getTextColor(node, neighbors) })
  link.attr('stroke', function (link) { return getLinkColor(selectedNode, link) })
}

var graph_data = {{ graph_data|tojson }};


var node1 = {{ json_node|tojson }};
var link1 = {{ json_link|tojson }};


var nodes = {{ json_node|tojson }};
var links = {{ json_link|tojson }};

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var color = d3.scaleOrdinal(d3.schemeCategory20);

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody().strength(-50))
    .force("center", d3.forceCenter(width / 2, height / 2));

var na = [];
var la = [];


function restart(nodes,links){
  svg.selectAll('g').remove();

  

  var graph = new Object();
  graph.nodes = nodes;
  graph.links = links;

   link = svg.append("g")
      .attr("class", "links")
    .selectAll("line")
    .data(graph.links)
    .enter().append("line")
      .attr("stroke-width", 2)
      .attr("stroke", "rgba(50, 50, 50, 0.2)");

   node = svg.append("g")
      .attr("class", "nodes")
    .selectAll("circle")
    .data(graph.nodes)
    .enter().append("circle")
      .attr("r", 10)
      .attr("fill", function(d) { return  getNodeColor(d); })
      .on('click',selectNode)
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(graph.links);

  simulation.alpha(1).restart();
}



restart(nodes,links);


////////////////////// my funcs



function addlink() {
   var s = $("#source").val();
   var t = $("#target").val();
   var st = $("#strength").val();
    if((s == '' || t == '' || st == '' )) { // no empty node fields
      return;
    }else{     //  check if entered node is present in nodes list
      var c = 0;
      for (var i = 0; i < na.length; i++) {
          if(na[i].id == s){
            c++;
          }
          if(na[i].id == t){
            c++;
          }
      }
      if(c != 2){
        return;
      }
    }
    link1.push({source : $("#source").val() , target : $("#target").val() , strength : $("#strength").val() });
    la.push({source : $("#source").val() , target : $("#target").val() , strength : $("#strength").val() });
    $("#source").val('');
    $("#target").val('');
    $("#strength").val('');
    restart(na,la);
  }

var flag = 0;

function add() {
  flag = 1;
    if(($("#id-node").val() == '' || $("#group-node").val() == '')){
      return;
    }
    node1.push({id : $("#id-node").val() , group : $("#group-node").val() });
    na.push({id : $("#id-node").val() , group : $("#group-node").val() });
    $("#id-node").val('');
    $("#group-node").val('');
    restart(na,la);
  }

  
//////////////////////


  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  }

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}

if(detected) {
  $('#detected').attr('style','');
}


</script>